<link href="/assets/css/gallery.css" rel="stylesheet">
<div class="gallery-container">
  <div class="gallery">
      <div class="image-item">
          <img src="/images/1.png" alt="Image 1" />
          <div class="caption">Apr 28, 2025 - 排线课作业 - 看到安迪沃霍尔的小红鞋我也想画一只 - 桃慕</div>
      </div>
      <div class="image-item">
          <img src="/images/june_scenery.png" alt="Image 2" />
          <div class="caption">Apr 28, 2025 - 排线课作业 - 夜 - 六月</div>
      </div>
      <div class="image-item">
          <img src="/images/2.png" alt="Image 3" />
          <div class="caption">Apr 25, 2025 - 在乡荫咖啡馆画了一只小猫 - 刺毛 - 桃慕</div>
      </div>
            <div class="image-item">
          <img src="/images/june_cat_1.png" alt="Image 3" />
          <div class="caption">Apr 25, 2025 - 在乡荫咖啡馆画了一只小猫 - 寂寞的背影 - 六月</div>
      </div>
            <div class="image-item">
          <img src="/images/june_cat_2.png" alt="Image 3" />
          <div class="caption">Apr 25, 2025 - 在乡荫咖啡馆画了一只小猫 - 转头 - 六月</div>
      </div>
  </div>
</div>

<div id="lightbox" class="lightbox"></div>
<script src="/assets/js/gallery.js"></script>
